body {
    background-color: black;
    color:aliceblue;
    font-family: monospace ;
    padding: 24px
}
.title {
    font-size: 25px;
    color:green
}

.list-item{
    margin-bottom: 24px;
    font-size: 24px;
}
input {
    height: 32px;
    background-color: transparent;
    color: white;
    border-color: green;
    border-radius: 4px;
    font-size: 17px;
    padding: 8px
}

.add-task-button {
    font-size: 17px;
    padding: 14px;
    background-color: green;
    border-width: 0px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-family: monospace
    

}
